<div class="login_container">

    <p>Войти в профиль или <a class='link_reg' href="{% url 'home:register_page:new_user' %}">зарегистрируйтесь</a></p>

    <form class='form_login' action="{% url 'home:login_page:check_login' %}" method="POST">{% csrf_token %}
        <input class='login_email' type="email" placeholder="Почта ..." name="email" value="">
        <input class='login_password' type="password" placeholder="Пароль ..." name="password" value="">
        <button type="submit" name="button">Войти</button>
    </form>


</div>
