*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

.header_container {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}

.header_container .user_info {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .user_info .your_ava {
    border-radius: 50%;
    /* box-shadow: 0 0 5px grey; */
    margin-right: 10px;
}

.header_container .user_info .your_notificaition {
    margin-right: 10px;
    text-decoration: none;
    color: #6ec0f0;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
    border: 2px solid #6ec0f0;
    border-radius: 20px;
    text-transform: uppercase;
    /* box-shadow: 0 0 5px #6ec0f0; */
}

.header_container .user_info .your_message {
    text-decoration: none;
    color: #6ec0f0;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
    border: 2px solid #6ec0f0;
    border-radius: 20px;
    text-transform: uppercase;
    /* box-shadow: 0 0 5px #6ec0f0; */

}

.header_container .other_info {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .other_info a {
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    color: grey;
    font-weight: normal;
    text-transform: uppercase;
}

.header_container .menu_container {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .menu_container a {
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    color: grey;
}

.header_container .menu_container .new_btn {
    color: white;
    background-color: #6ec0f0;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid #6ec0f0;
    font-weight: bold;
    text-transform: uppercase;
}


.main_container {
    width: 100%;
    padding: 50px;
    text-align: center;
}

.main_container p {
    text-transform: uppercase;
    font-size: 22px;
}

.main_container .main_menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_menu a {
    margin: 10px;
    padding: 5px 20px;
    border: 2px solid #6ec0f0;
    border-radius: 20px;
    color: white;
    background-color: #6ec0f0;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 5px grey;
}

.btn_login {
    text-decoration: none;
    font-size: 14px;
    color: #6ec0f0;
    font-weight: bold;
}

.login_container {
    display: none;
    position: absolute;
    top: 70px;
    left: 35%;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    z-index: 10;
    padding: 50px;
    text-align: center;
}

.login_container p {
    font-size: 20px;
    text-transform: uppercase;
}

.login_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_container form input {
    margin: 10px;
    padding: 3px 5px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    outline: none;
    background-color: white;
}

.login_container form button {
    background-color: #6ec0f0;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: 2px solid #6ec0f0;
    cursor: pointer;
}

.register_container {
    padding: 50px;
    text-align: center;
}

.register_container p {
    font-size: 22px;
}

.register_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_container form input {
    margin: 10px;
    width: 300px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    outline: none;
}

.register_container form button {
    background-color: #6ec0f0;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: 2px solid #6ec0f0;
    cursor: pointer;

}
