*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

.header_container {
    width: 100%;
    height: 50px;
    display: flex;
    /* border-bottom: 1px solid #e6e6e6; */
}

.header_container .user_info {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .user_info .your_ava {
    border-radius: 50%;
    /* box-shadow: 0 0 5px grey; */
    margin-right: 10px;
}

.header_container .user_info .your_notificaition {
    margin-right: 10px;
    text-decoration: none;
    color: #6ec0f0;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 10px;
    border: 1px solid #6ec0f0;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px grey;
}


.header_container .other_info {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .other_info a {
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    color: grey;
    font-weight: normal;
    text-transform: uppercase;
}

.header_container .menu_container {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container .menu_container a {
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
    color: grey;
}

.header_container .menu_container .new_btn {
    color: white;
    background-color: #6ec0f0;
    padding: 3px 20px;
    border-radius: 20px;
    border: 1px solid #6ec0f0;
    font-weight: normal;
    text-transform: uppercase;
    box-shadow: 0 3px 5px grey;
}


.main_container {
    width: 100%;
    padding: 50px;
    text-align: center;
}

.main_container p {
    text-transform: uppercase;
    font-size: 22px;
}

.main_container .main_menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_menu a {
    margin: 10px;
    padding: 5px 20px;
    border: 2px solid #6ec0f0;
    border-radius: 20px;
    color: white;
    background-color: #6ec0f0;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 5px grey;
}

.btn_login {
    text-decoration: none;
    font-size: 14px;
    color: #6ec0f0;
    font-weight: bold;
}

.login_container {
    display: none;
    position: absolute;
    top: 70px;
    left: 35%;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    z-index: 10;
    padding: 50px;
    text-align: center;
}

.login_container p {
    font-size: 20px;
    text-transform: uppercase;
}

.login_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_container form input {
    margin: 10px;
    padding: 3px 5px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    outline: none;
    background-color: white;
}

.login_container form button {
    background-color: #6ec0f0;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: 2px solid #6ec0f0;
    cursor: pointer;
}

.register_container {
    padding: 50px;
    text-align: center;
}

.register_container p {
    font-size: 22px;
    text-transform: uppercase;
}

.register_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_container form input {
    margin: 10px;
    width: 300px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    outline: none;
}

.register_container form button {
    background-color: #6ec0f0;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: 2px solid #6ec0f0;
    cursor: pointer;

}

.link_reg {
    font-size: 12px;
    color: grey;
    text-decoration: none;
}


.profiles_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profiles_container .item {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.profiles_container .item img {
    border-radius: 50%;

}

.profiles_container .item a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #6ec0f0;
    margin-top: 5px;
}

.detail_profile {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.detail_profile img {
    border-radius: 50%;
    box-shadow: 0 0 5px grey;
}

.detail_profile p {
    font-size: 22px;
}

.detail_profile .description {
    font-size: 14px;
    color: grey;
}

.profile_posts {
    margin: 50px;
}

.profile_posts .post_item {
    margin: 20px;
}

.profile_posts .post_item a {
    text-decoration: none;
    color: #6ec0f0;
    font-weight: bold;
}

.lists .item {
    margin: 10px;
    width: 60%;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.lists .item span {
    font-size: 10px;
    color: grey;
}

.lists .item .type_post {
    border: 2px solid #b0b030;
    color: white;
    background-color: #b0b030;
    padding: 3px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.lists .item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.lists .item p {
    color: grey;
}

.detail_post span {
    color: grey;
    font-size: 12px;
}

.lists .item .author_info {
    display: flex;
    margin-top: 5px;
    align-items: center;
}

.lists .item .author_info img {
    margin-right: 10px;
    border-radius: 50%;
}

.lists .item .author_info a {
    text-decoration: none;
    color: #6ec0f0;
    font-size: 12px;

}

.detail_post {
    width: 60%;
    margin: 50px auto;
}

.detail_post h5 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.detail_post p {
    color: grey;
}


.detail_post .author_post {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.detail_post .author_post img {
    margin-right: 20px;
    border-radius: 50%;
}

.detail_post .author_post a {
    text-decoration: none;
    color: #6ec0f0;
    font-size: 12px;
    font-weight: bold;
}
