{% extends 'base.html' %}

{% block content %}

    <div class="register_container">
        <p>Регистрация</p>
        <form class="register_form">
            <input class='username' type="text" placeholder="Ник ..." name="" value="">
            <input class='email_register' type="email" placeholder="Почта ..." name="" value="">
            <input class='password_register' type="password" placeholder="Пароль ..." name="" value="">
            <button type="submit" name="button">регистрация</button>
        </form>
    </div>

{% endblock %}
