{% extends 'base.html' %}


{% block content %}
    <div class="lists">
        {% for object in object_list %}
            <div class="item">
                <a href="{{object.get_absolute_url}}">{{object.title}}</a>
                <p>{{object.text}}<br/><span class='type_post'>{{object.type}}</span></p>
                <span>{{ object.created|date:"d-m-y" }}</span>
                <div class="author_info">
                    {% if object.profile.avatar %}
                        <img src="{{object.profile.avatar.url}}" width="20" height="20" alt="">
                    {% else %}
                        <img src="https://pp.userapi.com/c845521/v845521265/1958c1/Pwk8qgTbAog.jpg" width="20" height="20" alt="">
                    {% endif %}
                    <a href="{{object.author.get_absolute_url}}">{{object.author.username}}</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
