{% extends 'base.html' %}


{% block content %}

    <div class="detail_profile">
        {% if object.avatar %}
            <img src="{{object.avatar.url}}" width="100" height="100" alt="">
        {% else %}
            <img class='your_ava' src="https://pp.userapi.com/c845521/v845521265/1958c1/Pwk8qgTbAog.jpg" width="100" height="100" alt="">
        {% endif %}
        <p>{{object.username}}</p>
        <p class='description'>{{object.description}}</p>



        <div class="profile_posts">
            {% if object.announcement_set.all %}
                {% for i in object.announcement_set.all %}
                    <div class="post_item">
                        <a href="">{{i.title}}</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Пока нету объявлений</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
